{{set root="."}}
{{> header title='Zip-Doc' cssName='main'}}
<div class="zd-contents" style="background-image: url('{{root}}/img/img_bg_about.jpg')">
	<section class="main-copy wrapper">
			<img class="img-pen" src="{{root}}/img/img_main_copy_pen.png">
			<div class="main-copy-title">당신만을 위한<br>
				인테리어 중개 서비스 [집닥]
			</div>
			<div class="main-copy-desc">모든 공간에는 각자의 삶이 녹아있기에,<br>
				그 공간을 채우는 인테리어는 무엇보다도 중요합니다.<br>
				이제, [집닥]이 당신의 생활에 꼭 맞춘 인테리어를 제시합니다.
			</div>
			<div class="main-copy-btn">인테리어 무료견적신청</div>
	</section>
	<section class="main-gallery wrapper">
		<div class="main-gallery-best gallery-under">
			<div class="col1 row2 main-gallery-best-title main-gallery-titles">
				베스트 인테리어<br><span>최고의 퀄리티 인테리어 추천</span>
				<img src="{{root}}/img/index_icon_best.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img1.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img2.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img3.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>

			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img4.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col2 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
		</div>
		<div class="main-gallery-section gallery-under">

			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img1.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img2.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img3.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 main-gallery-titles main-gallery-natural">
				단순함의 미학 심플<br><span>심플한 스타일 인테리어 추천</span>
				<img src="{{root}}/img/index_icon_style_simple.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col2 row1 main-gallery-titles main-gallery-section-simple">
				자연 친화적인 내츄럴<br><span>내츄럴스타일 인테리어 추천</span>
				<img src="{{root}}/img/index_icon_style_natural.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="main-estimate">
		<div class="wrapper main-estimate-title">
			<div class="fa fa-clock-o clock-icon"></div>
			<div> 지금도 계속 무료견적 신청중~</div>
			<div id="main-estimate-title-more">더보기 &gt;</div>
		</div>
		<div class="main-estimate-bar-wrapper">
			<ul class="wrapper main-estimate-bar">
				<li>
					<span class="main-estimate-bar-title">
						오늘 견적
					</span><br>
					<span class="main-estimate-bar-num">
						55
					</span>
				</li>
				<li>
					<span class="main-estimate-bar-title">
						총 견적
					</span><br>
					<span class="main-estimate-bar-num">
						18402
					</span>
				</li>
				<li>
					<span class="main-estimate-bar-title">
						진행/완료 견적
					</span><br>
					<span class="main-estimate-bar-num">
						15329
					</span>
				</li>
			</ul>
		</div>
		<div class="main-estimate-slide-wrapper">
			<div class="main-estimate-slide-container wrapper">
				<ul class="main-estimate-slide">
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>
					<li>
						<div class="estimate-slide-user">
							<div class="fa fa-user-circle estimate-slide-icon"></div>
							<div class="estimate-slide-name">
								김oo
							</div>
						</div>
						<div class="estimate-slide-triangle"></div>
						<div class="estimate-slide-info">
							<div class="estimate-slide-new">New</div>
							<div class="estimate-slide-apply">
								<span class="estimate-slide-addr">서울 노원구 중계 건영 3차 이번에
								리모델링</span> 신청해요!
							</div>
						</div>

					</li>


				</ul>
			</div>
		</div>
	</section>

	<section class="main-place-wrapper wrapper">
		<div class="main-place">
			<div class="place-before place-box" style="background-image: url('{{root}}/img/img_before.jpg')">
				<div class="place-ment">Before</div>
			</div>
			<div class="place-after place-box" style="background-image: url('{{root}}/img/img_after.jpg')">
				<div class="place-ment">After</div>
			</div>
			<div class="place-text-box">
				<div class="place-text">어느 곳에 살고 싶으신가요?</div>
				<div class="place-btn">무료견적 바로신청&gt;</div>
			</div>
		</div>
	</section>

	<section class="wrapper main-community-wrapper">
		<div class="sub-title" style="background-image: url('{{root}}/img/index_title_line.png')"><span>ZIPDOC Community</span></div>
		<div class="main-community">
			<div class="community-qa main-community-padding">
				<div class="community-head">
					<img class="community-head-img" src="{{root}}/img/index_icon_comm_qna.png">
					<div class="community-head-text head-qa">
						인테리어<br>
						무엇이든 물어보세요 !
						<span class="community-head-more">더보기 &gt;</span>
					</div>
				</div>
				<div class="community-qa-list-wrapper">
					<ul>
						<li>
							<div class="community-q-list">
								<span class="community-q">Q</span>
								아파트 거실에 마루를 깔려고 합니다.
							</div>
							<div class="community-a-list">
								<div class="community-text-a">
									<span class="community-a">A</span>
									마루는 종류에 따라 금액이 나누어지기
									때문에 전체금액 당장 나오기 어렵고 평당 6~8만원정도 생각하기 때문에
									많은 것들을 생각해야함
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="community-circle-wrapper community-qa-circle">
					<ul>
						<li class="community-circle"></li>
						<li class="community-circle"></li>
						<li class="community-circle"></li>
					</ul>
				</div>
			</div>

			<div class="community-review main-community-padding">
				<div class="community-head">
					<img class="community-head-img" src="{{root}}/img/index_icon_comm_review.png">
					<div class="community-head-text head-review">
						집닥 고객님들의<br>
						생생한 리얼 후기 !
						<span class="community-head-more">더보기 &gt;</span>
					</div>
				</div>
				<div class="community-head-review-list-wrapper">
					<ul>
						<li>
							<div class="community-review-text-box">
								<div class="community-review-text">
									마루는 종류에 따라 금액이 나누어지기문에 전체금액 당장 나오기 어렵고 평당 6~8만원정도 생각하기 때문에
									많은 것들을 생각해야함sdfsadfasdfsadfhadsfjkhsadkjfhaskjdhfjkdsfdsfdjafkljasdlkfjksdajflkasddsfsdfsdfsdfsddsfsdf
									sdhaflkhaskl
								</div>
								<div class="community-name">- 윤보미</div>
							</div>
							<div class="community-square"></div>
							<div class="community-user-img">
								<img src="{{root}}/img/img_comm_people01.jpg">
							</div>
						</li>
					</ul>
				</div>
				<div class="community-circle-wrapper community-review-circle">
					<ul>
						<li class="community-circle"></li>
						<li class="community-circle"></li>
						<li class="community-circle"></li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<section class="gallery-myroom-wrapper wrapper">
		<div class="gallery-myroom gallery-under">
			<div class="col1 row2 gallery-myroom-title main-gallery-titles">
				내방 어때?<br><span>우리집, 내 가게 자랑하기</span>
				<img src="{{root}}/img/index_icon_comm_photo.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img1.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img2.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img3.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>

			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img4.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="gallery-magazine-wrapper wrapper">
		<div class="sub-title" style="background-image: url('{{root}}/img/index_title_line.png')"><span>ZIPDOC Magazine</span></div>
		<div class="gallery-magazine gallery-under">

			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img1.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img2.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img3.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 main-gallery-titles main-gallery-natural">
				단순함의 미학 심플<br><span>심플한 스타일 인테리어 추천</span>
				<img src="{{root}}/img/index_icon_style_simple.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col2 row1 main-gallery-titles main-gallery-section-simple">
				자연 친화적인 내츄럴<br><span>내츄럴스타일 인테리어 추천</span>
				<img src="{{root}}/img/index_icon_style_natural.png">
				<div class="main-gallery-more">더보기 &gt;</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
			<div class="col1 row1 item" style="background-image: url('{{root}}/img/best-img5.jpg')">
				<div class="item-hide">
					<div class="item-gradient"></div>
					<div class="item-text" >
						여기는 너무 좋은 집이야 다시 오고 싶을 정도 일일
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="gallery-partner-wrapper wrapper">
		<div class="sub-title" style="background-image: url('{{root}}/img/index_title_line.png')"><span>Best Partners</span></div>
		<div class="gallery-partner">
			<div class="gallery-partner-title">
				<div class="partner-title-top">
					집닥 베스트 파트너스는 매달 고객님들의 만족도 / 시공 수 / 포트폴리오를 평가하여 선정합니다.
				</div>
				<div class="partner-title-bottom">
					<div class="partner-title-bottom-text">
						믿을 수 있는 집닥의 베스트 파트너스 업체와 불만족제로 인테리어를 경험해보세요 !
					</div>
					<div class="partner-title-bottom-more">
						더보기 &gt;
					</div>
				</div>
			</div>

			<div class="gallery-partner-list-wrapper">
				<ul class="gallery-partner-list">
					<li>
						<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170109145319903_ic9M6MsVSP.jpg')">
						</div>
						<div class="partner-list-tag">
							<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927112847589_5wMj1TcJak.jpg')">
							</div>
							<div class="partner-list-tag-company">
								장식가
							</div>
						</div>
						<div class="partner-list-evaluation">
							최우수
						</div>
					</li>
					<li>
						<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="partner-list-tag">
							<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113258399_nTuGdns3Y4.jpg')">
							</div>
							<div class="partner-list-tag-company">
								장식가
							</div>
						</div>
						<div class="partner-list-evaluation">
							최우수
						</div>
					</li>
					<li>
						<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
						</div>
						<div class="partner-list-tag">
							<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
							</div>
							<div class="partner-list-tag-company">
								장식가
							</div>
						</div>
						<div class="partner-list-evaluation">
							최우수
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="special-wrapper wrapper">
		<div class="special-title">
			<div class="title-service special-title-active">
				집닥만의 특별한 서비스
			</div>
			<div class="title-step ">
				서비스 이용절차
			</div>
			<div class="title-contact">
				집닥표준계약서
			</div>
		</div>
		<div class="special-content">
			<div class="content-service content-common content-active">
				<ul>
					<li>
						<img src="{{root}}/img/zipdoc_bottom_service_man.png">
						<p class="content-service-title">집닥맨의 현장 체크 서비스</p>
						<p class="content-service-desc">
							인테리어 최고의 전문가 집닥맨이 고객님의 공사
							현장을 방문하여 진행상황을 점검하고, 현장에서 발생할 수
							있는 상황을 중재, 처리해드립니다.</p>
						<div class="content-more">자세히 보기 &gt;</div>
					</li>
					<li>
						<img src="{{root}}/img/zipdoc_bottom_service_escrow.png">
						<div class="content-service-title">에스크로 서비스</div>
						<div class="content-service-desc">
							고객이 결제하신 결제 대금을 집닥이 예치하고 있다가 시공 단계별로
							업체에게 지급하는 서비스로 에스크로 서비스는
							고객님의 '안심'을 책임집니다.</div>
						<div class="content-more">자세히 보기 &gt;</div>
					</li>
					<li>
						<img src="{{root}}/img/zipdoc_bottom_service_monthly.png">
						<p class="content-service-title">인테리어 비용 무이자 할부 서비스</p>
						<p class="content-service-desc">
							결정하기 부담스러웠던 인테리어 비용에 대한 걱정을 덜어드리는
							집닥만의 장기할부금융 서비스로 걱정없이
							예쁜 인테리어를 진행하세요.</p>
						<div class="content-more">자세히 보기 &gt;</div>
					</li>
				</ul>
			</div>
			<div class="content-step content-common">
				<ul>
					<li>
						<div class="step-circle">1</div>
						<div class="step-title">상담신청</div>
						<div class="step-desc">마음에 드는 인테리어를<br>
							골라 견적신청</div>
					</li>
					<li>
						<div class="step-circle">2</div>
						<div class="step-title">접수 & 집닥<br>
							안내전화</div>
						<div class="step-desc">집닥의 전문상담원을 통해<br>
							상담 및 시공사 연결</div>
					</li>
					<li>
						<div class="step-circle">3</div>
						<div class="step-title">시공사 상담<br>
							& 방문견적</div>
						<div class="step-desc">시공사와 상담 후 방문견적,<br>
							견적 상담을 비교</div>
					</li>
					<li>
						<div class="step-circle">4</div>
						<div class="step-title">공사계약</div>
						<div class="step-desc">시공사 결정 후<br>
							집닥 표준계약서를<br>
							이용한 계약</div>
					</li>
					<li>
						<div class="step-circle">5</div>
						<div class="step-title">에스크로<br>
							신청 (자유)</div>
						<div class="step-desc">집닥으로 안전결제<br>
							에스크로 서비스 요청</div>
					</li>
					<li>
						<div class="step-circle">6</div>
						<div class="step-title">시공<br>
							& 시공검수</div>
						<div class="step-desc">표준계약서를 통하여<br>
							시공 중 집닥맨 현장 방문 서비스<br>요청</div>
					</li>
					<li>
						<div class="step-circle">7</div>
						<div class="step-title">시공완료</div>
						<div class="step-desc">표준계약서를 통하여 시공 후<br>
							A/S체크 서비스요청</div>
					</li>
					<li>
						<div class="step-circle">8</div>
						<div class="step-title">시공체크<br>
							3년 A/S</div>
						<div class="step-desc">3년 A/S확인증 발급 및<br>
							서비스 혜택</div>
					</li>

				</ul>
			</div>
			<div class="content-contact content-common">
				<div class="contact-img">
					<img src="{{root}}/img/img_contract.jpg">
				</div>
				<div class="contact-list">
					<ol>
						<li>
							집닥에서 제공하는 표준계약서는 수 회에 걸친 법적 절차 및 검토를 거쳐 완성된 계약서입니다.
						</li>
						<li>
							고객님의 일반적인 피해를 최소화 할 수 있는 조항들이 자세히 담겨있는 계약서이니, 해당 계약서를 통해 계약을 하심이 좋습니다
						</li>
						<li>
							한번 더 확인해야할 주요사항<br>
							- 현장감독 선임<br>
							- 공사기간의 연장 및 추가공사<br>
							- 설계상의 착오 및 저작권<br>
							- 계약이행 지체<br>
							- 대금지급<br>
							- 계약해지 및 기성부분 정산<br>
							- 에스크로 서비스 이용에 따른 지급의 특례<br>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

</div>
{{> footer jsName='main'}}
