{{set root="."}}
{{set pageId="partners"}}
{{> header title='Zip-Doc' cssName='partners'}}
{{> sub-header }}
<div class="zd-contents-wrapper">
	<div class="zd-contents">
		<section class="partners-index common-active">
			{{> sub-sub-header num="0"}}
			<div class="partners-index-contents">
				<div class="partners-best">
					<div class="partners-best-title">베스트 파트너스</div>
					<div class="partners-best-list">
						<div class="gallery-partner-list-wrapper">
							<ul class="gallery-partner-list">
								<li>
									<div class="partner-list-img" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927112847589_5wMj1TcJak.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
									<div class="partner-list-evaluation">
										최우수
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113258399_nTuGdns3Y4.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
									<div class="partner-list-evaluation">
										최우수
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
									<div class="partner-list-evaluation">
										최우수
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="partners-search-box">
					<div class="search-box-select">
						<select id="region" >
							<option selected>--시/도--</option>
							<option >서울</option>
							<option >경기</option>
							<option>부산</option>
							<option >대구</option>
							<option >인천</option>
							<option >광주</option>
							<option >대전</option>
							<option >울산</option>
							<option >강원</option>
							<option >충북</option>
							<option >충남</option>
							<option >전북</option>
							<option >전남</option>
							<option >경북</option>
							<option >경남</option>
							<option >제주특별자치도</option>
							<option >세종특별자치시</option>
						</select>
					</div>
					<div class="search-box-input">
						<input type="text">
					</div>
					<div class="search-box-btn">검색</div>
				</div>
				<div class="partners-list-box">
					<div class="partners-list-title">파트너스 리스트</div>
					<div class="partners-list">
						<div class="gallery-partner-list-wrapper">
							<ul class="gallery-partner-list">
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170109145319903_ic9M6MsVSP.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927112847589_5wMj1TcJak.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113258399_nTuGdns3Y4.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
								<li>
									<div class="partner-list-img" style="background-image: url('{{root}}/img/540x360_20170110140534799_wKTAdVzcHV.jpg')">
									</div>
									<div class="partner-list-tag">
										<div class="partner-list-tag-company-img" style="background-image: url('{{root}}/img/20160927113316183_9Co7LKwR9y.jpg')">
										</div>
										<div class="partner-list-tag-company">
											장식가
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="common-pages">
						<ul>
							<li class="page-leftest page-navi">&lt;&lt;</li>
							<li	class="page-left page-navi">&lt;</li>
							<li class="page-active pages">1</li>
							<li class="pages">2</li>
							<li class="pages">3</li>
							<li class="pages">4</li>
							<li class="pages">5</li>
							<li class="page-right page-navi">&gt;</li>
							<li	class="page-rightest page-navi">&gt;&gt;</li>
						</ul>

					</div>
				</div>
			</div>

		</section>
		<section class="partners-inquire">
			<div class="partners-section1">
				<img src="{{root}}/img/img_partner_01.jpg">
				<div class="partners-inquire-title">
					집닥과 함께 해야만 하는 이유?
				</div>
				<div class="font-color-light partners-inquire-desc">
					집닥의 파트너스가 되면 사업에 큰 힘이 되는 '든든한' 혜택이 기다립니다.
					<br>지금 바로 문의 하세요!
				</div>
				<div class="partners-inquire-btn">
					집닥 파트너스 및 제휴 문의
				</div>
			</div>
			<div class="partners-section2">
				<ul>
					<li>
						<img src="{{root}}/img/img_partner_02.jpg">
					</li>
					<li>
						<div class="font-title-size">비교거부!<br>
							압도적인 고객 견적 수!</div>
						<div class="font-color-light partners-section2-desc">매 월 1,000명 이상의 고객들이 인테리어 업체를 기다리고 있습니다.<br>
							'집닥 파트너스'에 등록된 업체는 베스트 시공사례에 등록되며, 고객의 견적신청을 직접 받을 수 있습니다</div>
					</li>
				</ul>

			</div>
			<div class="partners-service  partners-section3">
				<ul>
					<li>
						<div class="partners-img-box desc-text-left">
							<img src="{{root}}/img/img_partner_03.jpg">
						</div>
						<div class="font-title-size  desc-text-left">집닥맨 서비스</div>
						<div class="font-color-light desc-text-left">고객 불만 사항 접수시, 집닥맨이 현장을 직접 방문하여 고객과의 중재를 통해 공사가 원만히 진행될 수 있도록 합니다.</div>
					</li>
					<li>
						<div class="partners-img-box desc-text-left">
							<img src="{{root}}/img/img_partner_04.jpg">
						</div>
						<div class="font-title-size  desc-text-left">촬영 서비스</div>
						<div class="font-color-light  desc-text-left">전문 포토그래퍼가 공사 진행 및 완료 현장을 방문하여 사진 · 동영상 · 360도 VR 동영상 등을 촬영합니다.</div>
					</li>
					<li>
						<div class="partners-img-box desc-text-left">
							<img src="{{root}}/img/img_partner_05.jpg">
						</div>

						<div class="font-title-size  desc-text-left">A/S 서비스</div>
						<div class="font-color-light  desc-text-left">집닥은 자체 A/S팀을 구축하고 있어, 파트너스 A/S 보증기간 1년 이후 고객에게 2년간 추가 무상 A/S 헤택을 제공합니다.</div>
					</li>
				</ul>
			</div>

			<div  class="partners-section4">
				<ul>
					<li>
						<div class="font-title-size  desc-text-left">
							함께하면 효과가 UP! UP!<br>
							온 · 오프 통합 마케팅!
						</div>
						<div class="font-color-light  desc-text-left">
							광고 · 마케팅 · 고객유치 걱정이 많으시죠? 인테리어 업체 단독으로 하면 많은 비용과 시간이 필요합니다. 집닥에서는 마케팅 전문가들이 다양한 채널을 통해 보다 횽률적인 광고를 진행합니다.
						</div>
						<img src="{{root}}/img/img_partner_06.jpg">
					</li>
					<li>
						<div class="font-title-size  desc-text-left">
							파트너스 전용 APP 제공!
						</div>
						<div class="font-color-light  desc-text-left">
							언제 어디서든 인테리어 견적 및 공사를 편리하게 관리할 수 있는 파트너스 전용 어플을 제공합니다.
						</div>
						<img src="{{root}}/img/img_partner_07.jpg">
					</li>
				</ul>
			</div>


		</section>

	</div>
</div>
{{> footer jsName='partners'}}
