<footer>
	<div class="footer-reward">
		<ul>
			<li>
				<div class="reward-img" style="background-image: url('{{root}}/img/img_footer_circle_01.png')"></div>
				<div class="reward-text">
					<div class="reward-title">압도적인 시공수</div>
					<div class="reward-details">1만명의 고객님이 인정한 집닥</div>
				</div>

			</li>
			<li>
				<div class="reward-img" style="background-image: url('{{root}}/img/img_footer_circle_02.png')"></div>
				<div class="reward-text">
					<div class="reward-title">고객만족 서비스</div>
					<div class="reward-details">고객님의 불만사항을 회피하지 않습니다</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('{{root}}/img/img_footer_circle_03.png')"></div>
				<div class="reward-text">
					<div class="reward-title">체계적인 파트너 관리</div>
					<div class="reward-details">집닥의 파트너스는 일반 시공업체와 다릅니다</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('{{root}}/img/img_footer_circle_04.png')"></div>
				<div class="reward-text">
					<div class="reward-title">국내 대표	</div>
					<div class="reward-details">2016 소비자 만족 지수 인테리어 부분 1위</div>
				</div>
			</li>
			<li>
				<div class="reward-img" style="background-image: url('{{root}}/img/img_footer_circle_05.png')"></div>
				<div class="reward-text">
					<div class="reward-title">고객 맞춤 시스템</div>
					<div class="reward-details">집닥맨 감리, 에스크로, 무이자 할부 혜택 제공닥</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="footer-company-site-wrapper">
		<ul class="footer-company-site">
			<li class="footer-company-site-info">
				<ul>
					<li>회사소개</li>
					<li>개인정보취급방침</li>
					<li>이용약관</li>
				</ul>
			</li>
			<li class="footer-company-site-app">
				<ul>
					<li>앱다운로드</li>
					<li><img src="{{root}}/img/img_appstore.png"></li>
					<li><img src="{{root}}/img/img_googleplay.png"></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="footer-company-wrapper">
		<div class="footer-company">
			<ul>
				<li>
					<img src="{{root}}/img/img_footer_logo.png">
				</li>
				<li>
					<h4 class="h4">집닥(주)</h4>
					<span>대표 : 박성민</span>
					<span class="company-divider">|</span>
					<span>사업자등록번호 : 793-81-00149</span>
					<span class="company-divider">|</span>
					<span>통신판매번호 : 2015-서울금천-0875호</span>
					<br>
					<span>주소 : 서울시 관악구 낙성대로15길 56-39 서울대연구공원 SKT연구동 상생혁신센터 U1호(낙성대동)</span>
					<br>
					<span>제휴문의 :</span><span class="footer-company-hover">partnership@zipdoc.kr</span>
				</li>
				<li>
					<span class="phone">8598 - 4321</span> <br>
					<span>(10:00 ~ 24:00)</span><br>
					<span>이메일 : </span>
					<span class="footer-company-hover">cs@zipdoc.kr</span><br>
					<span>팩스 : 02 - 6274 - 1130</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright-wrapper">
		<ul class="footer-copyright">
			<li>Copyright © ZIPDOC</li>
		</ul>
	</div>
</footer>
{{>fixed}}
{{>side-navi}}
</div>
<script>
	var global= {
		root: "{{root}}",
	};

</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
