<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/{{cssName}}.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<div class="zd-container">
		<header>
			<div class="header-wrapper">
				<div class="header-info">
					<div class="header-info-list">
						<ul>
							<li class="logout">로그아웃</li>
							<li class="mypage">마이페이지</li>
							<li class="login">로그인</li>
							<li class="register">회원가입</li>
							<li class="customer-service">고객센터</li>
						</ul>
					</div>
					<div class="header-info-title">
						<ul>
							<li class="header-info-text">
								인테리어다 통한다!
							</li>
							<li class="header-info-logo" >
								<img class="main-logo" src="{{root}}/img/img_zipdoc_logo.png">
							</li>
						</ul>
						<div class="header-info-phone">
							<i class="fa fa-phone"></i><div>&nbsp;8598-4321</div>

						</div>

					</div>
				</div>
				<div class="header-menu-wrapper">
					<div class="header-menu">
						<ul>
							<li class="header-menu-gallery">
								갤러리
							</li>
							<li class="header-menu-community">
								커뮤니티
							</li>
							<li class="header-menu-magazine">
								매거진
							</li>
							<li class="header-menu-partners">
								파트너스
							</li>
							<li class="header-menu-estimate">
								견적상담
							</li>
							<li class="header-menu-store">
								스토어&nbsp;<span class="beta">βeta</span>
							</li>
						</ul>
						<div class="header-details">
							<ul >
								<li>
									<ul class="header-detail-gallery">
										<li>
											<div id="house" class="details-hover"></div>
											주거공간
										</li>
										<li>
											<div id="commercial" class="details-hover"></div>
											상업공간
										</li>
										<li>
											<div id="partial" class="details-hover"></div>
											부분시공
										</li>
									</ul>
								</li>
								<li>
									<ul class="header-detail-community">
										<li>
											<div id="curious" class="details-hover"></div>
											궁금해요
										</li>
										<li>
											<div id="myroom" class="details-hover"></div>
											내방어때
										</li>
										<li>
											<div id="review" class="details-hover"></div>
											집닥후기
										</li>
									</ul>
								</li>
								<li>
									<ul class="header-detail-magazine">
										<li>
											<div id="interior-tip" class="details-hover"></div>
											인테리어 팁
										</li>
										<li>
											<div id="diary" class="details-hover"></div>
											집닥맨 후기
										</li>
										<li>
											<div id="news" class="details-hover"></div>
											집닥소식
										</li>
										<li>
											<div id="event" class="details-hover"></div>
											집닥이벤트
										</li>
									</ul>
								</li>
								<li>
									<ul class="header-detail-partners">
										<li>
											<div id="partners-index" class="details-hover"></div>
											파트너스 리스트
										</li>
										<li>
											<div id="partners-inquire" class="details-hover"></div>
											파트너스 문의
										</li>
									</ul>
								</li>
								<li>
									<ul class="header-detail-estimate">
										<li>
											<div id="estimate-apply" class="details-hover"></div>
											상세견적상담
										</li>
										<li>
											<div id="estimate-now" class="details-hover"></div>
											견적신청 현황
										</li>
										<li>
											<div id="estimate-confirm" class="details-hover"></div>
											협의확인서현황
										</li>
									</ul>
								</li>
								<li>
									<ul class="header-detail-store">
										<li>
											<div id="store" class="details-hover"></div>
											<span id="last-title">집닥이 야심차게</span><br>
											<span>준비한 특별한<br> 상품을 만나보세요</span>
											<img src="{{root}}/img/img_store_menu_bg.png">
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>

