<div class="recommend-selects-contents">
	<ul>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		<li>
			<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
		<li>
			<div class="recommend-img" style="background-image: url('{{root}}/img/540x360_20170110120307388_fve0lNGvHT.jpg')">

			</div>
			<div class="recommend-text">
				<div class="recommend-text-title overflow-text">
					디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
				</div>
				<div class="recommend-text-addr overflow-text">
					서울 노원구 중계동 건영 3차 309동 1105호
				</div>
				<div class="recommend-text-descs">
					<div class="recommend-text-desc">
						50평
					</div>
					<div class="recommend-text-desc">
						아파트
					</div>
					<div class="recommend-text-desc">
						2,500만원
					</div>
				</div>
			</div>
			<div class="recommend-favor">
				<i class="fa fa-paperclip"></i>
				59
			</div>
			{{#if (eq pageId "estimate")}}
				<input class="recommend-checkbox" type="checkbox">
			{{/if}}
		</li>
	</ul>
	<div class="recommend-arrow common-arrow arrow-left">&lt;</div>
	<div class="recommend-arrow common-arrow arrow-right">&gt;</div>
</div>
