<section class="side-navi zd-popup">
	<div class="side-navi-login">
		<div class="side-navi-login-text">로그인</div>
		<div class="side-navi-close popup-close-icon">X</div>
	</div>
	<div class="side-navi-title">
		갤러리
	</div>
	<ul class="side-navi-lists side-navi-gallery">
		<li name="house" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_gallery_1.png">
			<div>주거공간</div>
		</li>
		<li name="commercial" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_gallery_2.png">
			<div>상업공간</div>
		</li>
		<li name="partial" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_gallery_3.png">
			<div>부분시공</div>
		</li>
	</ul>
	<div class="side-navi-title">
		커뮤니티
	</div>
	<ul class="side-navi-lists side-navi-community">
		<li  name="curious" class="side-navi-list">
			<img src={{root}}"/img/index_icon_comm_qna.png">
			<div>궁금해요</div>
		</li>
		<li  name="myroom" class="side-navi-list">
			<img src={{root}}"/img/index_icon_comm_photo.png">
			<div>내방어때</div>
		</li>
		<li  name="review" class="side-navi-list">
			<img src={{root}}"/img/index_icon_comm_qna.png">
			<div>집닥후기</div>
		</li>
	</ul>
	<div class="side-navi-title">
		매거진
	</div>
	<ul class="side-navi-lists side-navi-magazine">
		<li  name="interior-tip" class="side-navi-list">
			<img src={{root}}"/img/index_icon_magazine_tip.png">
			<div>인테리어<br>팁</div>
		</li>
		<li name="diary" class="side-navi-list">
			<img src={{root}}"/img/index_icon_magazine_diary.png">
			<div>집닥맨<br>다이어리</div>
		</li>
		<li  name="news" class="side-navi-list">
			<img src={{root}}"/img/index_icon_news.png">
			<div>집닥<br>소식</div>
		</li>
		<li  name="event" class="side-navi-list">
			<img src={{root}}"/img/index_icon_event.png">
			<div>집닥<br>이벤트</div>
		</li>
	</ul>
	<div class="side-navi-title">
		파트너스
	</div>
	<ul class="side-navi-lists side-navi-partners">
		<li  name="partners-index" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_partners_1.png">
			<div>파트너스 목록</div>
		</li>
		<li name="partners-inquire" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_partners_2.png">
			<div>파트너스 문의</div>
		</li>
	</ul>
	<div class="side-navi-title">
		견적상담
	</div>
	<ul class="side-navi-lists side-navi-estimate">
		<li name="estimate-apply" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_estima_1.png">
			<div>견적상담</div>
		</li>
		<li name="estimate-now" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_estima_2.png">
			<div>견적현황
			</div>
		</li>
		<li name="estimate-confirm" class="side-navi-list">
			<img src={{root}}"/img/mobile_menu_estima_3.png">
			<div>협의확인</div>
		</li>
	</ul>
	<div class="side-navi-title">
		스토어 <span>βeta</span>
	</div>
	<ul class="side-navi-lists side-navi-store">
		<li name="store" class="side-navi-list">
			<img src={{root}}"/img/index_icon_store.png">
			<div>집닥이 야심차게 준비한 특별한 상품을 만나보세요</div>
		</li>
	</ul>
	<ul class="side-navi-bottom">
		<li name="home">홈</li>
		<li name="register">회원가입</li>
		<li name="PC">PC버전</li>
	</ul>

</section>
